@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff4f1;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff4f1;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 850px;
  width: 400px;
  text-align: center;
  cursor: pointer;
}
.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 400px;
  text-align: center;
  position: relative;
}
.booking-container > img, .confirmation-container > img {
  margin-top: 30px;
}
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 850px;
  width: 400px;
  text-align: center;
  position: relative;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}
.nobooking {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  padding: 20px;
}
h1 {
  font-size: 6em;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  color: #EC315A;
}
.header-confirmation {
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  color: #EC315A;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', cursive;
  color: #340D6D;
}
.when-what-who {
  width: 400px;
}
.when-what-who::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-right: 10px;
}
.when-what-who::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-left: 10px;
}
.input-unit {
  font-size: 1.1em;
}
.shoe-container {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.shoes {
  width: 400px;
}
.shoes::before {
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-right: 10px;
}
.shoes::after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-left: 10px;
}
.booking-details {
  width: 400px;
}
.booking-details::before {
  content: "";
  display: inline-block;
  width: 110px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-right: 10px;
}
.booking-details::after {
  content: "";
  display: inline-block;
  width: 110px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-left: 10px;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #340D6D;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff4f1;
}

input {
  width: 150px;
  background-color: #fff4f1;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: #222;
  font-family: 'Work Sans', sans-serif;
}
.input-no {
  width: 40px;
}

.input-field {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 340px;
  height: 25px;
  border: 1px solid #7A52D1;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  color: #3B3B3B;
}
.input-total {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 340px;
  height: 25px;
  border: 1px solid #EC315A;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3em;
  color: #EC315A;
}
.input-field-date, .input-field-time {
  position: relative;
  text-align: left;
  padding: 10px;
  width: 150px;
  height: 20px;
  border: 1px solid #7A52D1;
  border-radius: 5px;
  font-size: 1.2em;
  color: #3B3B3B;
}
.input-field-shoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  position: relative;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #7A52D1;
  border-radius: 5px;
  font-size: 1.2em;
  color: #3B3B3B;
}

.input-label {
  position: absolute;
  top: -8px;
  left: 10px;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #fff4f1;
  padding: 0 5px;
  color: #7A52D1;
  text-transform: uppercase;
}

.btn-minus {
  background-color: #EC315A;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 2em;
  cursor: pointer;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-plus {
  display: block;
  background-color: #EC315A;
  color: white;
  border: none;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 2em;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.btn-strike {
  width: 350px;
  height: 68px;
  font-family: 'Work sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 25px 0;
}
/* Stilar för hamburger-knappen */
.hamburger {
  position: absolute;
  top: 10px; /* Flyttar menyn 10px från toppen av .booking-container */
  left: 10px; /* Flyttar menyn 10px från vänsterkanten av .booking-container */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60px;
  height: 50px;
  background: #ec315a1f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.hamburger .line {
  height: 2px;
  background-color: #EC315A;
  border-radius: 5px;
}

.hamburger .line:nth-child(1) {
  width: 100%; /* Längsta linjen */
}

.hamburger .line:nth-child(2) {
  width: 75%; /* Lite kortare än den första */
}

.hamburger .line:nth-child(3) {
  width: 50%; /* Kortast */
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.sidebar a {
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  color: #EC315A;
  padding: 10px 0;
  font-size: 3.2em;
  text-align: center;
  text-decoration: none;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}