@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff4f1;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff4f1;
  width: 400px;
}

/* Container för formuläret */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}

/* Stil för varje inputfält */
.input-field {
  position: relative;
  padding: 15px;
  border: 1px solid #7A52D1;
  border-radius: 10px;
  font-size: 1.2em;
  color: #3B3B3B;
}

/* Röd färg på tidfältet */
.input-time {
  border-color: #F45B69;
  color: #F45B69;
}

/* Stil för etiketterna */
.input-label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 0.5em;
  background-color: #fff4f1;
  padding: 0 5px;
  color: #7A52D1;
  text-transform: uppercase;
}

/* Tunn linje till höger om etiketten */
.input-label::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #7A52D1;
  vertical-align: middle;
  margin-left: 10px;
}

.btn-round {
  border-radius: 20px;
}